body {
    color: #2E2F42;
    font-family: sans-serif;
}

a {
    color: currentColor;
    text-decoration: none;
}

h1 {
    color: white;
    font-size: 56px;
    font-family: Roboto;
    font-weight: 700;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

h2 {
    font-size: 36px;
    font-family: Roboto;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

h3 {
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.body-text {
    color: #434455;
    font-size: 16px;
    font-family: Roboto;
    line-height: 1.5;
    letter-spacing: -0.02em;
}

ol,
ul {
    list-style-type: none
}

.logo {
    color: #4D5AE5;
    font-size: 18px;
    font-family: Raleway;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.header-logo-accent {
    color: #2E2F42;
}

.footer-logo-accent {
    color: #F4F4FD;
}

.header-link {
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.02em;
}

.header-contact {
    color: #434455;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: -0.02em;
}

.header-link:hover,
.header-link:focus {
    color: #404BBF;
}

a[href="#studio"]:active {
    text-decoration: underline
}

.header-contact:hover,
.header-contact:focus {
    color: #404BBF;
}

.hero {
    background-color: #2E2F42;
}

.hero-btn {
    color: white;
    background-color: #4D5AE5;
    font-family: inherit;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}

.team {
    background-color: #F4F4FD;
}

.team-card {
    background-color: #FFFFFF;
}


.footer {
    color: #F4F4FD;
    background-color: #2E2F42;
}

.footer-text {
    color: #F4F4FD;
    font-family: Roboto;
    line-height: 1.5;
    letter-spacing: -0.02em;
}